
body {
    background-image: url("/img/1.jpg");
    background-color: #6610f2;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}



.nav-item .nav-link {
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

.nav-item .nav-link:hover {
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: 1px 0 10px whitesmoke;
}

#loginButton {
    font-family: 'Varela Round', sans-serif;
    background-color: #9a62ff;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px rgb(44, 15, 90);
}

#loginButton:hover {
    background-color: #4706be;
    border-radius: 3px;
    box-shadow: 0px 0px;
    
}

a.logbtn { 
    color: whitesmoke;
}

a.logbtn:hover { 
    color: whitesmoke;
}

.navbar-brand {
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.navbar-brand:hover {
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

#exspacer {
    margin-bottom: 22rem;
}

#subButton {
    font-family: 'Varela Round', sans-serif;
    background-color: #9a62ff;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px rgb(44, 15, 90);
    border: transparent;
}

#subButton:hover {
    background-color: #4706be;
    border-radius: 3px;
    box-shadow: 0px 0px;
    border: transparent;
    
}


@media (min-width: 992px) {
.jumbotxt {
    font-size: 8rem !important; 
    text-shadow: 1px 0 10px whitesmoke;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 13rem;
    color: white;}
}

@media (min-width: 768px) {
.jumbotxt {
    font-size: 7rem; 
    text-shadow: 1px 0 10px whitesmoke;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 13rem;
    color: white;}
}

@media (min-width: 544px) {
    .jumbotxt {
    font-size: 6rem; 
    text-shadow: 1px 0 10px whitesmoke;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 13rem;
    color: white;}
}

@media (max-width: 544px) {
.jumbotxt {
    font-size: 2.5rem; 
    text-shadow: 1px 0 10px whitesmoke;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 10rem;
    color: white;}

}


@media (min-width: 992px) {
    .jumbotxt-body {
        text-shadow: 1px 0 10px whitesmoke;
        font-family: 'Varela Round', sans-serif;
        color: white;
        text-align: center;
        font-size: 7rem;}
    }
    
@media (min-width: 768px) {
    .jumbotxt-body {
        text-shadow: 1px 0 10px whitesmoke;
        font-family: 'Varela Round', sans-serif;
        color: white;
        text-align: center;
        font-size: 6rem;}
}

@media (min-width: 544px) {
    .jumbotxt-body {
        text-shadow: 1px 0 10px whitesmoke;
        font-family: 'Varela Round', sans-serif;
        color: white;
        text-align: center;
        font-size: 5rem;}
}

@media (max-width: 544px) {
    .jumbotxt-body {
        text-shadow: 1px 0 10px whitesmoke;
        font-family: 'Varela Round', sans-serif;
        color: white;
        text-align: center;
        font-size: 2rem;}

}

#mobile-header {
    font-family: 'Varela Round', sans-serif !important;
    font-size: 32px !important;
    color: white !important;
}

.blurb-header {
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    color: white;
}

.blurb-body {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: white;
}

.site-banner {
    /* background-color: #5109d6; */
    margin-bottom: 22rem;
}

.site-banner-footer {
    /* background-color: #5109d6; */
    margin-bottom: 10rem;
}


.card {
    border: transparent;
}

.card-img-top {
    border-radius: 17px;
}

.card-title {
    font-size: 24px !important;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.card-text {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.form-control{
    margin-bottom: 1.5rem;
    border-radius: 0rem;
    border: transparent;
    background-color: rgb(71, 6, 190, 0.9);
}

.form-control:hover{
    margin-bottom: 1.5rem;
    border-radius: 0rem;
    border: transparent;
    background-color: #34048b;
} 

.form-control::placeholder{
    color: #a38af7;
}


/* .navbar {
    background-color: #6610f2;
} */

.card-title {
    font-size: 48px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}


.ul-footer {
    margin-bottom: .3rem;
}

.footer-text {
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

.footer-text:hover {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-shadow: 1px 0 10px whitesmoke;
}

.footer-text-c {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

.footer-text-c:hover {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

.form-text {
    color: whitesmoke;
    font-family: 'Varela Round', sans-serif;
}

.footer-icon {
    text-align: center;
    padding-bottom: 3px;
}

.fa-instagram {
    border-radius: 15px;
    color: white;
	background:#27016d;
}

.fa-twitter {
    border-radius: 15px;
    color: white;
	background:#27016d;
}

.fa-facebook-style {
    border-radius: 15px;
    color: white;
	background:#27016d;
}

.fa-google-style {
    border-radius: 15px;
    color: white;
	background:#27016d;
}

.fa-mobile {
    font-size: 30rem;
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.9808298319327731) 20%, rgba(183,222,241,1) 50%, rgba(0,0,0,0.9808298319327731) 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #mobilebg {
    background-color: rgb(71, 6, 190, 0.6);
} */

.site-footer {
    background-color: rgb(71, 6, 190, 0.6);
}

.list-text {
    text-align: center;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

.list-text:hover {
    text-decoration: none;
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #d5c8ff;
}

/*button CSS*/
button {
	position: relative;
	padding: 20px 50px;
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	font-family:'Varela Round', sans-serif;
	letter-spacing: 4px;
	overflow: hidden;
	background: rgba(255,255,255,.1);
	box-shadow: 0 5px 5px rgba(0,0,0.2);
}
button :before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,.1);
}
button :after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: 0.5s;
	transition-delay: 0.5s;
}
button :hover:after{
	left: 100%;
}
button  span{
	position: absolute;
	display: block;
	transition: 0.5s ease;
}
button  span:nth-child(1)
{
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
button :hover span:nth-child(1)
{
	width: 100%;
	transform: translateX(100%);
}
button  span:nth-child(3)
{
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
button :hover span:nth-child(3)
{
	width: 100%;
	transform: translateX(-100%);
}
button  span:nth-child(2)
{
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
button :hover span:nth-child(2)
{
	height: 100%;
	transform: translateY(100%);
}
button  span:nth-child(4)
{
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
button :hover span:nth-child(4)
{
	height: 100%;
	transform: translateY(-100%);
}

.icon {
    background-color:#CB9BF1;  
}
#submit {
    background-color: #6c69cc;
}
input{
    color: #a38af7;
}
